.about-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 2rem;
}

.about-img  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.about-img .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;

}

.about-img .img.img1 {
    background-size: cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.about-img .img.img2 {
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.about-img .img.img3 {
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.about-img:hover .img{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.about-img .img:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 1350px){
    .about-img{
    margin-left: 2rem;
    margin-right: 5rem;
    width: 700px;
    height: 400px;
    }
}

@media screen and (max-width: 900px){
    .about-img{
    margin-left: 2rem;
    margin-right: 5rem;
    width: 600px;
    height: 300px;
    }
}


@media screen and (max-width: 750px){
    .about-img{
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 4rem;
    width: 450px;
    height: 250px;
    }
}

@media screen and (max-width: 450px){
    .about-img{
    margin-left: 2rem;
    margin-right: 3.5rem;
    margin-bottom: -40px;
    width: 325px;
    height: 200px;
    }
}


@media screen and (max-width: 1350px){
    .about-img .im1, .im2, .im3{
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    }
}

.app__about-text{
    width: 40%;
    padding: 2rem 3rem;
    background: var(--white-color);
    border-radius: 15px;
    margin-top: -2rem;

    p{
    transition: transform 0.3s ease;

    }

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1708px){
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    @media screen and (max-width: 1350px){
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
  
}

.paragraph-container{
    p{
        background-image: linear-gradient(#ffd900, #ffd900);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% 2px;
        transition: background-size .5s, background-position .3s ease-in .5s;
    }
}

.paragraph-container.paragraph-hovered p{
    transform: scale(1.05);
    transition: transform .7s ease;
    font-weight: 400;
    background-size: 100% 100%;
    background-position: 0% 0%;
	transition: background-position .5s, background-size .3s ease-in .5s;

}

.about-head-text{
    margin-top: 1.5rem;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;
  
    span {
      color: var(--red-color);
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
}

.app__about-info{
    margin-top: 50px;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;    
}