@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;


  --text-color: #6b7688;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --dark-gray-color:#424445;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --yellow-color: #ffd900;
  --red-color: #f67571;
  --red-color-darker: #dd7571;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --color: #fefefe;
}

  [data-theme='dark']{
    --yellow-color: #c7a903;
    --dark-gray-color:#c7c4c4;
    --first-color: #fefefe;
    --black-color: #ffffff;
    --primary-color: #404040;
    --white-color: #424445;
    --gray-color: #ffffff;
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}